---
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";

// utils import
import { orderBlogPosts } from "../../js/utils";

const allPosts = await Astro.glob("./*md");
const orderedPosts = orderBlogPosts(allPosts, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: true,
    // limit: 2,
});

---

<MainLayout title="blog">
    <div class="span2-4">
        <h1>Blog</h1>
            <!-- <PostCard frontmatter={allPosts[0].frontmatter} url={allPosts[0].url} /> -->
            {
                orderedPosts.map((post) => (<PostCard frontmatter={post.frontmatter} url={post.url} />) ) 
            }
    </div>
</MainLayout>