---
import MainLayout from "../../layouts/MainLayout.astro";
import FeedTable from "../../components/FeedTable.astro";

// utils import
import { orderBlogPosts } from "../../js/utils";

const allPosts = await Astro.glob("./*md");
const orderedPosts = orderBlogPosts(allPosts, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: true,
});
---

<MainLayout title="Blog — Luc Tiemessen">
    <div class="span2-4">
        <h1>Blog</h1>
        <FeedTable posts={orderedPosts} />
    </div>
</MainLayout>
