/* small reset */

*, 
*::after, 
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color:	#222;
    --background-color:	#fdfdfd;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color:	#fdfdfd;
    --background-color:	#222;

    
  }
  
}

:root {
  --base-font-family: "freight_display_probook", serif;
  --sans-font-family:		"FreightSansBold", sans-serif;
  --mono-font-family:		'Source Code Pro', monospace;
  --base-font-size:		22px;
  --small-font-size: var(--base-font-size) * 0.875;
  --base-line-height:		31px;

  --spacing-unit:			1em;


  --brand-color:			#ffde03;
  --brand-color-active:	#78C0E0;
  --link-color:			#acac9f;
  --highlight-color:		#2ABFF1;

  --grey-color:			#828282;
  --grey-color-light:		lighten($grey-color, 40%);
  --grey-color-dark:		darken($grey-color, 25%);

}

/*
font-family: 'Lora', serif; (400, 600 regular and italic);
font-family: 'Source Sans 3', monospace (400, 700, 900 regular and italic);
font-family: 'Source Code Pro', sans-serif; (300, 400 regular and italic);
*/

body {
    font-family: 'Lora', serif;
    font-feature-settings: "onum" 1, "lnum" 1, "kern" 1, "liga" 1, "clig" 1, "dlig" 1, "swsh", "ordn" 1, "ss01", "salt", "calt", "ordn" 1;
    hyphens: auto;
    font-size: clamp(100%, 2.5vw, 115%);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.0em;
    background-color: var(--background-colo);
    color: var(--text-color);
}

/* Stuff from gridlover.net */
html, .root {
    font-size: 16px;
    line-height: 24px;
  }
  body, .article {
    font-size: 1rem;
    line-height: 1.5rem;
    max-width: 560px;
    margin: auto;
  }
  h1, .h1 {
    font-size: 4.25rem;
    line-height: 4.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 900;
  }
  h2, .h2 {
    font-size: 2.625rem;
    line-height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
  }
  h3, .h3 {
    font-size: 1.625rem;
    line-height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
  }
  h4, .h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;

  }
  h5, .h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;

  }
  p, ul, ol, pre, table, blockquote {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
  }
  ul ul, ol ol, ul ol, ol ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  
  /* Let's make sure all's aligned */
  hr, .hr {
    border: 1px solid;
    margin: -1px 0;
  }
  a, b, i, strong, em, small, code {
    line-height: 0;
  }
  sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup {
    top: -0.5em;
  }
  sub {
    bottom: -0.25em;
  }
/* end gridlover.net */

pre,
code {
	font-family: var(--mono-font-family);
	font-style: normal;
	font-weight: 500;
	font-size: 0.85em;
	line-height: 1.2em;

  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 2;
  hyphens: none;
  font-feature-settings: "dlig","calt","clig";

}

pre {
  padding: 1rem;
}

nav a[aria-current="page"] { color: red;}