---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="About" description="My about page">
<div class="span2-4">
	<h1>About me</h1>

	<p>Hi there! I'm Luc Tiemessen, a dad of two living in Utrecht with my girlfriend. By day, I'm a designer at <a href="https://ing.nl">ING</a> in Amsterdam, crafting scalable digital solutions for diverse markets worldwide. At work, I co-host an internal QA board tasked with aligning customer journeys to seamlessly integrate with existing functionality, utilizing design components and patterns from our digital channels.</p>

	<p>I hold an MSc in Computer Science (Master Human Media Interaction) from the <a href="https://www.utwente.nl">University of Twente</a> (Master <a href="https://www.utwente.nl/en/eemcs/hmi/">Human Media Interaction</a>) and a BSc from <a href="https://www.han.nl">HAN University of Applied Sciences</a>. Apparently I am one of those who love design and code almost equally.</p>

	<p>Before ING, I spent 9 fantastic years at <a href="https://www.informaat.nl">Informaat</a>, working with clients like <a href="http://www.klm.com">KLM</a>, <a href="https://www.achmea.nl/">Achmea</a>, and <a href="https://www.eneco.nl/">Eneco</a>.</p>

	<p>In addition to my day job, I co-founded (with <a href="https://thisafternoon.nl/">Thisafternoon</a>) a company offering WordPress courses to empower small businesses and self employed. After three successful years, I shifted focus to my main gig.</p>

	<p>I'm also an avid <a href="/pens/">fountain pen</a> user, this has been since elementary school and I never really stopped using them. During the years, my collection of pens grew and I'm sharing this collection and background information here.</p>

	<p>This site is entirely written, designed and built by me, with the help of static site generator <a href="https://astro.build/">Astro</a>. It may not be perfect, but it's my happy space. Hosted on <a href="https://github.com/luctiemessen/luctiemessen.github.io">Github</a>, feel free to check it out (and my <a href="/styleguide/">Styleguide</a>) and follow along as I continue to enhance it.</p>

	<p>Thanks for joining the journey!<br />
	Luc</p>
</div>



</MainLayout>
