---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="About" description="My about page">
	<h1>About me</h1>
	<p>My name is Luc Tiemessen and I'm the father of two boys and partner of a wonderful girlfriend. My day job is designer at <a href="https://ing.nl">ING</a> in Amsterdam, The Netherlands. Where I work on creating scalable, configurable digital design solutions which are used in different countries with different markets. Additionally, I am co-hosting an ING Customer Experience Board which is given the task to align all customer facing journets journeys to make sure they work seamlessly with existing functionality by way of re-using (design) components, patterns and capabilities that are already existing on our digital channels.</p>
	<p>Before working at my current employer, I worked at a design agency <a href="https://www.informaat.nl">Informaat</a> where I worked as a front-end developer and UX designer. I worked for many clients including <a href="http://www.klm.com">KLM</a>, <a href="https://www.achmea.nl/">Achmea</a>, and <a href="https://www.eneco.nl/">Eneco</a>.</p>
	<p>Next to my day job I co-founded a company (together with <a href="https://thisafternoon.nl/">Thisafternoon</a>) that created and concucted WordPress courses, helping small businesses and self employed setting up, designing and maintaining their own website. After three years of succes I decided to focus on my day job.</p>
	<p>I hold a Msc in Computer Science from the <a href="https://www.utwente.nl">University of Twente</a> (Master <a href="https://www.utwente.nl/en/eemcs/hmi/">Human Media Interaction</a>) and a BSc in Computer Science from the <a href="https://www.han.nl">HAN University of Applied Sciences</a>. Apparently I am one of those who love design and code almost equally.</p>
	<p></p>

</MainLayout>