---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="My Blog">
	<h1>Max en Sofie zijn super cool! en dat komt omdat ze cool zijn!</h1>


	<h1>Sen en Fedde die zijn, legendary!</h1>
</MainLayout>