---

---

<footer class="footer span2-4">
    <div>
        Designed and built by Luc Tiemessen, check the <a href="/styleguide/">Style guide</a> or source on <a href="https://github.com/luctiemessen/luctiemessen.github.io">GitHub</a>.
        <br />
        <small>2009-<span id="copyright"></span> &copy; - Subscribe to <a href="/rss.xml">RSS</a></small>
    </div>
</footer>

<script>
    document.querySelector("#copyright").textContent = new Date().getFullYear().toString();
</script>