---

---

<footer class="footer span2-4">
    <div>
        Carefully designed and built by Luc Tiemessen, check the <a href="/styleguide/">Styleguide</a> or source on <a href="https://github.com/luctiemessen/luctiemessen.github.io">GitHub</a>.
        <br />
        <small>Copyright &copy; <span id="copyright"></span> - Subscribe to <a href="/rss.xml">RSS</a></small>
    </div>
</footer>

<script>
    document.querySelector("#copyright").textContent = new Date().getFullYear().toString();
</script>