---
// data imports
import navData from "../data/navData";
---
<header class="grid-wrapper span2-4">
    <nav aria-label="primary" class="main-nav">
        <a href="/" class="home">Luc Tiemessen</a>
        <ul class="nav-items">
            {
                navData.map((item) => (
                    <a href={item.path} data-navLink>{item.name}</a>
                ))
            }
        </ul>
    </nav>
</header>
<script>
    import "../js/nav.js"
</script>