---
// utils import
//import { slugify, formatDate} from "../js/utils";
import { formatDate } from "../js/utils";

const { frontmatter, url } = Astro.props;
---

<article class="blog-item">
    <div class="item">
        <a href={url} class="h2">{frontmatter.title}</a>
        <time datetime="">{formatDate(frontmatter.date)}</time>
    </div>
</article>