---
import MainLayout from "../../layouts/MainLayout.astro";

---

<MainLayout title="About" description="About my pens">
	<div class="span2-4">
		<h1>Pens</h1>
		<p class="lead">I'm an avid fountain pen user and collector. I want to use this page in the future to share information about my favorite pens..</p>
		<p>I find fountain pens magical, timeless writing instruments that just don't seem to be ready to be replaced by current digital alternatives. The drying of the ink and the ease of operation make the process of writing with a fountain pen a mindful, enjoyable art form (in my humble and colored opinion).</p>
		<p>I mainly collect <a href="https://www.lamy.com">Lamy</a> pens. Especially the <a href="https://us-shop.lamy.com/en_us/fountain-pen-lamy-studio.html#nib_grade=7224">Lamy Studio</a>, Lamy Logo (which is sadly discontinued), <a href="https://us-shop.lamy.com/en_us/fountain-pen-lamy-cp1.html">Lamy CP1</a> and obviously the iconic <a href="https://us-shop.lamy.com/en_us/fountain-pen-lamy-2000.html">Lamy 2000</a>.</p>
		<p>More info here soon...</p>
	</div>
</MainLayout>