---
//import { string } from 'astro/zod';
import MainHead from './MainHead.astro';

//style import
import "../styles/main.css";
import CompNav from '../components/compNav.astro';
import CompFooter from '../components/compFooter.astro';

const { title = "Luc Tiemessen, Designer", description = "Personal site of Luc Tiemessen. A designer, thinking and writing about proper design, philosophy and fountain pens." } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<MainHead {title} {description}/>
<body>
    <CompNav />
    <slot>Default text</slot>
    <CompFooter />
</body>
</html>